/*测试属性*/

/*通用*/
body {
	font:12px "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	color:#222;
	margin:0;
}
h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dd,span {
	margin:0;
	padding:0;
	list-style-type:none;
}
button{
	font:inherit;
	margin:0;
	padding:0;
	line-height:1;
	border:0;
}
input,textarea{
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	padding:0;
	margin:0;
}
input[type="text"]{
	color:#222;
	outline:none;
	border:0;
}
img {
	border:0;
	vertical-align:middle;
}
a {
	color:#00a1d6;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	color:#f25d8e;/*#00a1d6;*/
}
.lf{float:left;}
.rt{float:right;}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
/*****通用样式结束******/
/**布局元素样式**/
#top,#main,#footer{
	width:1349px;
	margin:0 auto;
}
/**************一 网页头部****************/
#top:after,.header:after{
	content:"";
	display:block;
	clear:both;
}
/*顶部容器*/
div.top_container{
	width:1349px;
	margin:0 auto;
	position:relative;
	z-index:10000;
}
/*顶部页签*/
.z_top{
	height:42px;
	background:#fff;
	box-shadow:rgba(0,0,0,0.1) 0 1px 2px;
	width:100%;
	color:#222;
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
	font-size:12px;
	/*相对定位*/
	position:relative;
	z-index:10000;
}
.header-mask-wrp{
	width:100%;
	height:100%;
	background-color:#fff;
	position:absolute;
	top:0;
	left:0;
	/*overflow:hidden;*/
	display:block;
}
/*顶部背景*/
.header-mask-bg{
	height:62px;
	width:100%;
	filter:blur(5px);
	-webkit-filter: blur(5px);
	position:absolute;
	top:-10px;
	left:0px;
	z-index:50;
}
.header-mask{
	/*background-color:rgba(0,0,0,0.4);*/
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.4);
	z-index:100;
}
/*页签内容*/
.z_top .z_header {
	display:block;
	margin:0 auto;
	width:980px;
	height:42px;
	position:relative;
	/**/
	z-index:10000;
}
.z_top .z_header:after{
	content:"";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}
/*顶部导航和用户盒子li都左浮动*/
.header{
	background: transparent no-repeat center -10px;
    position: relative;
    margin: -42px auto 0;
	width:1349px;
	height:232px;
}
.header-layer{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:170px;
	z-index:10;
}
.z_top_nav>li,.menu>li{
	float:left;
	line-height:42px;
}
/*顶部所有a链接*/
a.i-link{
	float:left;
	color:#222;
	height:42px;
	padding:0 14px;
	text-align:center;
}
a.i-link:hover{
	background:rgba(255,255,255,0.3);
}
/***顶部页签左侧:顶部导航****/
/*主站*/
.z_top_nav li.home{
	padding-left:20px;
	background:url(images/icons.png) no-repeat -910px -74px;
}
/*拜年祭*/
li.bnj a{
	/*对new定位*/
	position:relative;
}
li.bnj i.new{
	float:left;
	width:22px;
	height:9px;
	background:url(images/icons.png) no-repeat -850px -412px;
	/*绝对定位*/
	position:absolute;
	top:13px;
	right:-7px;
}
/*用户盒子*/
li.u-i{
	text-align:center;
}
/*我的头像*/
li.i_user{
	margin:0 9px;
	width:36px;
}
li.i_user a.i-link{
	padding:0;
}
li.i_user a.i-link:hover{
	background-color:transparent;
}
a.i-link img{
	border-radius:18px;
	display:block;
	height:36px;
	width:36px;
	margin:3px 0;
	position:relative;
	z-index:20;
}
/*投稿*/
li.b-post{
	margin-right:0px;
	/*display:inline-block;*/
}
li.b-post a.i-link{
	color:#fff !important;
	/*font-weight:bold;*/
	
	margin:0;
	padding:0;
	width:58px;
	height:48px;
	background:url(images/b-post.png) center center no-repeat;
	
	position:relative;
	z-index:10;
	/*padding-left:14px;*/
}
li.b-post:hover a.i-link{
	background-image:url(images/b-post-hover.png);
}
/*h-center*/
.header .h-center{
	width:980px;
	height:170px;
	margin:0 auto;
	position:relative;
	/*堆叠*/
	margin-top:-170px;
}
/*logo*/
.header .logo{
	width:220px;
	height:105px;
	position:absolute;
	z-index:100;
	background: transparent no-repeat left center;
	top:55px;
	left:24px;
}
/*广告标题 移入显示*/
.header .banner-title{
	position:absolute;
	top:114px;
	left:255px;
	line-height:20px;
	padding:6px 10px;
	background:rgba(0,0,0,0.68);
	color:#fff;
	border-radius:4px;
	font-size:14px;
	max-width:350px;
	/*隐藏*/
	visibility:hidden;
	opacity:0;
}
/*鼠标只移在广告图上才显示广告标题????*/
.header:hover .banner-title{
	visibility:visible;
	opacity:1;
	transition:all .2s linear;
}
/*主导航*/
.header .num{
	width:100%;
	background:#fff;
	/*对排行榜和搜索框定位*/
	position:relative;
}
.num .menu-wrapper{
	position:relative;
	width:980px;
	margin:0 auto;
	padding:6px 0;
	z-index:100;
}
/*导航*/
ul.nav-menu{
	display:inline-block;
	height:50px;
	vertical-align:top;
	width:800px;
}
ul.nav-menu li.m-i{
	float:left;
	font-size:14px;
	display:block;
	height:50px;
	/*width:50px;*/
}
.num li.m-i a.i-link{
	position:relative;
	z-index:10;
	font-size:14px;
	color:#222;
	display:block;

	padding-left:0;
	padding-right:21px;
	margin:0;
	/*对更新数字量定位*/
	position:relative;
}
.num li.m-i a.i-link:hover{
	color:#00a1d6;
}
/*各个分类*/
.num li.m-i a.i-link em{
	font-style:normal;
	/*line-height:50px;*/
	display:inline-block;
	padding-top:22px;
}
/*首页*/
.nav-menu li.home{
	margin-right:6px;
}
/*更新数字量*/
div.v-num{
	display:inline-block;
	position:absolute;
	top:0;
	left:2px;
}
div.v-num span{
	background-color:#ffb3cc;
	border:1px solid transparent;
	border-radius:4px;
	font-size:8px;/*??*/
	color:#fff;
	/*文字大小,padding?*/
}
/*首页小房子*/
.nav-menu li.home div.v-num{
	width:18px;
	height:16px;
	background:url(images/icons.png) no-repeat -663px -1176px;
}
/*广场和直播*/
li.m-i-square>a>em,li.m-i-live>a>em{
	padding-top:0 !important;
	line-height:50px;
}
li.m-i-square{
	margin-left:10px;
	margin-right:11px;
}
li.m-i-square>a.i-link,li.m-i-live>a.i-link{
	padding:0 10px 0 30px !important;
}
li.m-i-square>a>span,li.m-i-live>a>span{
	display:inline-block;
	width:18px;
	height:18px;
	background:url(images/icons.png) no-repeat;
	/*定位*/
	position:absolute;
	top:15px;
	left:6px;
}
li.m-i-square>a>span{
	background-position:-663px -920px;
}
li.m-i-live>a>span{
	background-position:-663px -534px;
}
/*动图和客户端下载*/
div.menu-r{
/*	width:170px;*/
	float:right;
	vertical-align:center;
}
/*随机动图*/
.menu-r a.random-p{
	display:inline-block;
	width:76px;
	height:44px;
	margin:3px 0;
}
/*客户端下载*/
div.menu-r a.mobile-p{
	display:inline-block;
	margin-left:10px;
	width:58px;
	height:34px;
	background:url(images/app-link.png) no-repeat;
	position:relative;
	top:15px;
	right:0px;
}
/*客户端二维码框*/
div.mobile-p-box{
	opacity:0;/*隐藏*/
	visibility:hidden;
	width:259px;
	height:174px;
	background:url(images/app-box.png) no-repeat;
	position:absolute;
	top:40px;
	right:-21px;
}
/*二维码*/
div.mobile-p-qrcode{
	width:97px;
	height:97px;
	background:url(images/app-qrcode.png) no-repeat;
	position:absolute;
	top:30px;
	right:80px;
}
div.menu-r a.mobile-p:hover{
	background-image:url(images/app-link-hover.png);
}
a.mobile-p:hover div.mobile-p-box{
	opacity:1;
	visibility:visible;
	transition:opacity .1s linear;
}
/***排行榜和搜索框****/
div.search{
	position:absolute;
	top:-48px;
	right:185px;
	/*底色*/
	width:342px;
	height:36px;
	background:rgba(0,0,0,0.25);
	border:2px solid transparent;
	box-sizing:border-box;
	border-radius:5px;
	/*比header-layer上面*/
	z-index:11;
}
/*排行榜*/
div.search a.link-ranking{
	display:inline-block;
	width:68px;
	height:32px;
	background:rgba(255,255,255,0.88);
	border-radius:5px;
	margin-right:3px;
	cursor:pointer;
}
div.search a.link-ranking:hover{
	background-color:#fff;
	transition:all .1s linear;
}
a.link-ranking span{
	color:#f25d8e;
	line-height:32px;
	padding-left:26px;
	background:url(images/icons.png) no-repeat -659px -663px;
}
/*搜索框*/
#searchform{
	background-color:rgba(255,255,255,0.88);
	width:267px;
	height:32px;
	border-radius:5px;
}
#searchform:hover{
	background-color:#fff;
	transition:background .2s linear;
}
#searchform input{
	width:200px;
	height:32px;
	background-color:transparent;
	padding:0 12px;
}
#searchform button{
	float:right;
	width:43px;
	height:32px;
	background:url(images/icons.png) no-repeat -653px -720px;
	cursor:pointer;
}
#searchform button:hover{
	background:url(images/icons.png) no-repeat -718px -720px;
}
/**************网页底部***************/
#footer{
	background:#f6f9fa;
/*	min-height:300px;*/
	font-size:12px;
}
div.footer-wrp{
	width:980px;
/*	min-height:300px;*/
	margin:0 auto;
	padding:40px 0;
}
/*关于我们,传送门,下载*/

ul.postcards li{
	max-width:300px;
	min-height:110px;
	padding:0 25px;
	float:left;
}
ul.postcards li:first-child{
	padding-left:0;
}
ul.postcards li:last-child{
	padding-right:0;
}
ul.postcards li div.tips{
	padding-bottom:25px;
	color:#99b5d4;
	font:12px "Microsoft YaHei";
	/*??*/
	text-shadow:#e4bfb1;
}
ul.postcards li div.cards{
	float:left;
	padding-bottom:18px;
	width:100px;
}
ul.postcards li div.c-last{
	padding-bottom:0;
}
ul.postcards li a{
	color:#222;
}
ul.postcards li a:hover{
	color:#00a1d6;
}
/*传送门*/
ul.postcards li:nth-child(2){
	border-left:1px solid #e5e9ef;
	border-right:1px solid #e5e9ef;
/*	box-sizing:border-box;*/
}
/*****客户端******/
ul.postcards div.block a{
	float:left;
	height:80px;
	margin-right:18px;
}
div.block>a div.pic{
	width:56px;
	height:56px;
	border-radius:28px;/*?*/
	background:url(images/icons.png) no-repeat;
}
/*手机端下载*/
div.block .phone .pic{
	background-position:-1026px -196px;
}
div.block .phone .pic:hover{
	background-position:-1092px -196px;
}
/*新浪微博*/
div.block .weibo .pic{
	background-position:-1026px -324px;
}
div.block .weibo .pic:hover{
	background-position:-1092px -324px;
}
/*官方微信*/
div.block .weixin .pic{
	background-position:-1026px -68px;
}
div.block .weixin .pic:hover{
	background-position:-1092px -68px;
}
/*字*/
div.block>a>div>em{
	font-style:normal;
	display:block;
	margin-top:10px;
	text-align:center;
}
/*****合作机构*****/
#footer .partner{
	margin-top:30px;
	color:#99a2aa;
	font-size:10px;/*??*/
}
/*合作机构*/
.partner div:first-child{
	width:96px;
	height:75px;
	background:url(images/images/partner_banner.jpg) no-repeat;
	margin-top:7px;
}
/*******************网页主体*************************/
#index_container{
	width:1349px;
/*	min-height:500px;*/
}
/*******1.顶部热门视频*******/
.hot-video-wrp{
	width:980px;
/*	min-height:500px;*/
	margin:0 auto;
}
/*轮播  滑动广告*/
#slider_box{
	width:440px;
	height:220px;
	position:relative;
	overflow:hidden;
}
#imgs{
	position:absolute;
	top:0;
	left:0;
	height:220px;
}
#imgs li{
	float:left;
}
#imgs li>img{
	border-radius:5px;
}
/*注释*/
/*通用*/
.note{
	position:absolute;
	left:0;
	bottom:0;
	z-index:50;

	width:100%;
	height:30px;
}
.note-bg{
	position:absolute;
	left:0;
	bottom:0;
	z-index:50;

	width:100%;
	height:30px;
	background-image:linear-gradient(to top,#222,transparent);
	opacity:0.5;
	border-radius:0 0 10px 10px;
}
.note-content{
	position:absolute;
	left:0;
	bottom:0;
	z-index:100;
	width:100%;
	height:30px;
	box-sizing:border-box;
}
.note-content a{
	color:#fff;
	letter-spacing:1px;
}
/*通用结束*/
.m-note{
	font-size:14px;
}
.m-note .note-content{
	padding:0 10px 10px 20px;
}
/*吃豆人*/
#indexs{
	float:right;
	height:30px;
	position:absolute;
	bottom:0;
	right:20px;
	z-index:200;
}
#indexs>li{
	float:left;
	width:10px;
	height:10px;
	background:url(images/icons.png) no-repeat -859px -795px;
	margin:3px 5px 2px 5px;
}
#indexs>li:hover{
	width:14px;
	height:14px;
	background-position:-921px -793px;
	margin:1px 3px 0px 3px;
}
#indexs>li.current{
	width:18px;
	height:18px;
	background-position:-855px -727px;
	margin:0 5px 1px 0;
}
/*更多*/
.m-note .note-content a.more{
	background:rgba(0,0,0,0.4);
	text-align:center;
	border-radius:5px;
	padding:4px 7px;
	font-size:12px;
	position:absolute;
	top:-30px;
	right:15px;
	/*隐藏*/
	opacity:0;
}
/*更多 当鼠标移入slider-box的时候 显示*/
#slider_box:hover a.more{
	opacity:1;
	transition:opacity .1s linear;
}
/****六个小图******/
#hot_box{
	max-width:520px;
}
#hot_box li{
	float:left;
	margin:0 20px 20px 0;
}
#hot_box li img{
	border-radius:5px;
}
/*注释定位*/
#hot_box li{
	position:relative;
}
/*注释*/
#hot_box .s-note .note-content{
	padding:0 10px;
	font-size:14px;
}
#hot_box .s-note .note-content a{
	display:block;
	max-height:30px;
/*	width:140px;*/
	overflow:hidden;
	letter-spacing:1px;
}
#hot_box .s-note .note-content a>span{
	display:block;
	max-height:30px;
	line-height:30px;
	overflow:hidden;
}
/*********2.新作推广**********/
div.new-spread-wrp{
	width:980px;
	margin:0 auto;
}
/*****通用v-m-title*****/
.v-m-title{
	width:700px;
	height:45px;
	line-height:45px;
}
.v-m-title h2{
	float:left;
	font-size:23px;
	padding-left:47px;
	padding-right:20px;
	display:inline-block;
	background:url(images/icons.png) no-repeat -141px -74px;
	cursor:pointer;
	font-weight:normal;
}
.v-m-title h2:hover{
	color:#00a1d6;
}
/*通用结束*/
/*推广的标题不用hover变蓝 光标为箭头*/
#new_spread .v-m-title h2:hover{
	color:#222;
	cursor:default;
}
/*热门句子*/
.new-spread .v-m-title div{
	display:inline-block;
	color:#6d757a;
}
.new-spread .v-m-title>div>span{
	padding-right:10px;
	margin-right:10px;
	border-right:1px solid #ccd0d7;
}
/****推广小视频******/
ul.tui-v-box{
	width:700px;
	min-height:150px;
	clear:left;
}
ul.tui-v-box li{
	float:left;
	margin-right:20px;
}
/*视频信息*/
ul.tui-v-box .tui-v-msg{
	margin-top:10px;
	width:160px;
	height:40px;
	line-height:20px; 
}
ul.tui-v-box .tui-v-msg a{
	color:#222;
	letter-spacing:1px;
}
/*当鼠标移入推广小视频每个li时 视频信息变蓝色*/
ul.tui-v-box>li:hover .tui-v-msg>a{
	color:#00a1d6;
}
/*右侧广告*/
/*在线人数&最新投稿*/
div.banner-new{
	width:260px;
}
.banner-new .now{
	width:260px;
	height:35px;
	background-color:#e5e9ef;
	border-radius:5px;
	margin-bottom:10px;
}
.banner-new .now>a{
	color:#222;
	line-height:35px;
}
.banner-new .now>a:hover{
	color:#00a1d6;
}
.banner-new .now>a:first-child{
	float:left;
	padding-left:20px;
}
.banner-new .now>a:last-child{
	float:right;
	padding-right:20px;
}
.banner-new .now>span{
	padding-right:16px;
	border-right:1px solid #b8c0cc;
	margin-right:15px;
	line-height:35px;
}
.banner-new img{
	border-radius:5px;
}
/***************3.直播*******************/
#b_live{
	margin-top:55px;
}
div.b-live-wrp{
	width:980px;
	margin:0 auto;
}
/*左边视频*/
.b-live .vedio-section{
	width:700px;
}
/*标题图*/
.b-live .v-m-title h2{
	background-position:-141px -137px;
}
/*标题 直播信息*/
.b-live .v-m-title .b-live-now{
	float:left;
	display:inline-block;
}
.b-live .v-m-title .b-live-now span{
	color:#00a1d6;
}
/*标题 新动态 通用*/
.v-m-title .new-vedio{
	float:right;
}
.v-m-title .new-vedio a{
	border:1px solid #ccd0d7;
	border-radius:5px;
	padding:5px 10px;
	color:#222;
	margin-left:10px;
	position:relative;
}
/*   新动态图标  通用样式  */
.v-m-title .new-vedio a>i{
	display:inline-block;
	width:12px;
	height:12px;
	background:url(images/icons.png) no-repeat -475px -89px;
	/*位置?*/
	/*旋转动作*/
}
.v-m-title .new-vedio a:hover{
	background-color:#ccd0d7;
	transition:background .1s linear;
}
.v-m-title .new-vedio a:hover i{
	transform:rotate(180deg);
	transition:transform .2s linear;
}
/*   新动态图标  通用样式结束   */
.b-live .new-vedio a:last-child{
	color:#555;
}
/*****直播 视频盒子******/

/***通用视频信息***/
ul.v-box{
	width:700px;
	float:left;
}
ul.v-box li{
	float:left;
	margin-right:20px;
	/*对live-tips做定位*/
	position:relative;
	top:0;
	left:0;
	z-index:100;
}
ul.v-box li:hover .v-msg>a{
	color:#00a1d6;
}
.v-msg{
	margin:10px 0;
	width:160px;
	height:40px;
	letter-spacing:1px;
}
.v-msg>a{
	color:#222;
}
/* .v-msg>a:hover{
	color:#00a1d6;
} */
.v-box .v-msg-p{
	float:left;
	margin:2px 0 3px 0;
}
.v-box .v-msg-p a{
	float:left;
	color:#99a2aa;
	margin-right:10px;
	margin:4px 18px 0 0;
}
.v-box .v-msg-p a>i{
	display:inline-block;
	width:12px;
	height:12px;
	padding-top:2px;
	vertical-align:bottom;
}
/***通用视频信息 结束***/
/*视频标签*/
.live-v-box b.live-tips{
	font-weight:normal;
	float:right;
	display:inline-block;
	height:20px;
	padding:0 10px;
	line-height:20px;
	background:rgba(0,0,0,0.4);
	border-radius:5px;
	position:absolute;
	right:0px;
	bottom:60px;
	z-index:500;
}
/*直播信息 之 直播和观看人数??*/

.live-v-box p.live-msg-p a>i{
	background:url(images/icons.png) no-repeat;
}
p.live-msg-p a.live-host i{
	background-position:-282px -154px;
}
p.live-msg-p a.live-viewer i{
	background-position:-282px -90px;
}
p.live-msg-p a.live-host{
	max-width:85px;
	overflow:hidden;
}
/***直播右侧 推荐等***/
/*选项标签*/
.opts-about{
	width:260px;
}
.opts-about .opts-tabs{
	width:260px;
	height:45px;
}
.opts-about .opts-tabs>li{
	float:left;
	display:inline-block;
	padding:0 18px 0 0;
	line-height:45px;
}
.opts-tabs li>a{
	color:#222;
	letter-spacing:1px;
}
.opts-tabs li>a.current{
	color:#00a1d6;
	padding-bottom:10px;
	border-bottom:2px solid #00a1d6;
}
.opts-tabs>li:last-child{
	position:relative;
}
.opts-tabs>li>a.current+i{
	width:3px;
	height:3px;
	border:3px solid transparent;
	border-bottom:5px solid #00a1d6;
	position:absolute;
	bottom:5px;
	left:20px;
}
.opts-about>.opts3{
	position:relative;
	z-index:50;
}
.opts-about>.opts3>img{
	width:260px;
	height:248px;
	border-radius:7px;
}
.opts3>.opts-now-msg{
	width:100%;
	height:50px;
	background:rgba(0,0,0,0.4);
	position:absolute;
	bottom:66px;
	left:0;
	z-index:100;
	border-radius: 0 0 7px 7px;
}
.opts3>.opts-now-msg p{
	margin:0;
	padding:9px 10px 0;
	max-height:19px;
	overflow:hidden;
}
.opts3>.opts-now-msg a{
	color:#fff;
	display:inline-block;
	max-height:19px;
}
.opts-now-msg>div{
	padding:8px 100px;
	background:rgba(0,0,0,0.2);
	border-radius: 0 0 7px 7px;
}
.opts-now-msg>div>i{
	float:left;
	background:#fff;
	width:10px;
	height:6px;
	border-radius:2px;
}
.opts-now-msg>div>i:nth-child(2){
	margin:0 5px;
}
.opts-now-msg>div>i.current{
	background:#f25d8e;
	width:30px;
}
.opts3 ul.ups-profile{
	width:260px;
	float:right;
	margin-top:10px;
}
.opts3 .ups-profile>li{
	float:left;
	position:relative;
}
.opts3 .ups-profile>li:not(:first-child){
	margin-left:12px;
}
.opts3 .ups-profile>li>img{
	width:56px;
	height:56px;
	border-radius:4px;
}
.ups-profile>li>p{
	float:left;
	width:56px;
	height:18px;
	background:rgba(0,0,0,0.2);
	position:absolute;
	bottom:-11px;
	left:0;
	border-radius:0 0 4px 4px;
	text-align:center;
}
.ups-profile>li>p>a{
	color:#fff;
	line-height:18px;
}
/**********************动画部分***************************/
#b_cartoon{
	margin-top:55px;
}
div.b-cartoon-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-cartoon .v-m-title h2{
	background-position:-141px -907px;
}
.v-m-title ul.t-tab{
	width:150px;
	float:left;
}
.v-m-title ul.t-tab>li{
	float:left;
	margin-right:25px;
}
.v-m-title .t-tab>li>a{
	color:#222;
}
.t-tab>li>a.current{
	color:#00a1d6;
	border-bottom:1px solid #00a1d6;
	padding-bottom:5px;
}
.t-tab>li:first-child{/*为当前标签下小三角设置定位*/
	position:relative;
}
.t-tab>li>a.current+i{
	width:2px;
	height:2px;
	border:2px solid transparent;
	border-bottom:2px solid #00a1d6;
	position:absolute;
	bottom:10px;
	left:20px;
}
.v-m-title>.vedio-hotmsg{
	display:inline-block;
}
.v-m-title>.vedio-hotmsg>i{
	float:left;
	width:14px;
	height:14px;
	background:url(images/icons.png) no-repeat -665px -1113px;
	margin:16px 5px;
}
/*动画视频*/
.cartoon-v-box .cartoon-msg-p>a>i{
	background:url(images/icons.png) no-repeat;
}
.cartoon-msg-p a.playnum>i{
	background-position:-282px -90px;
}
.cartoon-msg-p a.barrage>i{
	background-position:-282px -218px;
}
/**排行 通用样式**/
/*排行head*/
.rank{
	width:260px;
	float:right;
}
.rank .ranking-head{
	width:260px;
	height:45px;
	line-height:45px;
}
.ranking-head h2{
	font-weight:normal;
	float:left;
}
.ranking-head>ul{
	float:left;
	margin-left:20px;
}
.ranking-head>ul>li{
	float:left;
	padding-right:15px;
}
.ranking-head>ul>li>a{
	color:#222;
}
.ranking-head>ul>li>a.current{
	color:#00a1d6;
	border-bottom:1px solid #00a1d6;
	padding-bottom:5px;
}
.ranking-head>ul>li:first-child{
	position:relative;
}
.ranking-head>ul>li>a.current+i{
	width:2px;
	height:2px;
	border:2px solid transparent;
	border-bottom:2px solid #00a1d6;
	position:absolute;
	bottom:10px;
	left:10px;
}
.ranking-head>select{
	float:right;
	padding:3px 8px 3px 3px;
	border:1px solid #ccd0d7;
	border-radius:4px;
	outline:none;
	margin-top:8px;
}
/*排行list*/
.rank .ranking-list{
	width:260px;
	float:right;
	letter-spacing:1px;
}
.ranking-list li{
	width:260px;
	height:18px;
	margin-bottom:20px;
	overflow:hidden;
}
.ranking-list li>b{
	display:inline-block;
	width:18px;
	height:18px;
	background:#b8c0cc;
	border-radius:3px;
	color:#fff;
	text-align:center;
	line-height:18px;
}
.ranking-list>li.top1>b,.ranking-list>li.top2>b,.ranking-list>li.top3>b{
	background:#f25d8e;
}
.rank .ranking-list a{
	color:#222;
}
.rank .ranking-list li:hover a{
	color:#00a1d6;
}
.ranking-list>li.top1{
	height:50px;
}
.ranking-list>li.top1>b{
	float:left;
	margin-top:0;
}
.ranking-list>li.top1>img{
	margin:0 5px 0 7px;
}
.ranking-list>li.top1>p{
	color:#99a2aa;
	margin:18px 0 0 0;
}
.ranking-list>li.moremore{
	height:24px;
	background:#e5e9ef;
	border-radius:5px;
	text-align:center;
	line-height:24px;
	margin-bottom:0;
	margin-top:-5px;
}
.ranking-list>li:not(:first-child) a{
	padding-left:10px;
}
/*****************番剧********************/
#b_comic{
	margin-top:55px;
}
div.b-comic-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-comic .v-m-title h2{
	background-position:-140px -138px;
}
/*****************音乐********************/
#b_music{
	margin-top:55px;
}
div.b-music-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-music .v-m-title h2{
	background-position:-141px -263px;
}
/*****************舞蹈********************/
#b_dance{
	margin-top:55px;
}
div.b-dance-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-dance .v-m-title h2{
	background-position:-140px -458px;
}
/*****************游戏********************/
#b_game{
	margin-top:55px;
}
div.b-game-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-game .v-m-title h2{
	background-position:-142px -200px;
}
/*****************科技********************/
#b_science{
	margin-top:55px;
}
div.b-science-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-science .v-m-title h2{
	background-position:-143px -525px;
}
/*****************生活********************/
#b_life{
	margin-top:55px;
}
div.b-life-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-life .v-m-title h2{
	background-position:-137px -970px;
}
/*****************鬼畜********************/
#b_kichiku{
	margin-top:55px;
}
div.b-kichiku-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-kichiku .v-m-title h2{
	background-position:-143px -330px;
}
/*****************时尚********************/
#b_fashion{
	margin-top:55px;
}
div.b-fashion-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-fashion .v-m-title h2{
	background-position:-143px -715px;
}
/*****************广告********************/
#b_ad{
	margin-top:55px;
}
div.b-ad-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-ad .v-m-title h2{
	background-position:-140px -1224px;
}
/*****************娱乐********************/
#b_entertain{
	margin-top:55px;
}
div.b-entertain-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-entertain .v-m-title h2{
	background-position:-141px -1030px;
}
/*****************电影********************/
#b_movie{
	margin-top:55px;
}
div.b-movie-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-movie .v-m-title h2{
	background-position:-142px -393px;
}
/*****************电视剧********************/
#b_teleplay{
	margin-top:55px;
}
div.b-teleplay-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-teleplay .v-m-title h2{
	background-position:-142px -843px;
}
/*****************电视剧********************/
#b_recommend{
	margin-top:55px;
}
div.b-recommend-wrp{
	width:980px;
	margin:0 auto;
}
/*标题图*/
.b-recommend .v-m-title h2{
	background-position:-141px -780px;
	padding-right:0;
}
/*********************侧边滚动导航*******************************/
#index-nav{
	position:fixed;
	top:233px;
	right:400px;
}
#index-nav>ul{
	text-align:center;
	overflow:hidden;
}
#index-nav>ul>li>a{
	display:inline-block;
	color:#222;
	border-left:1px solid #e5e9ef;
	border-right:1px solid #e5e9ef;
	width:48px;
	height:30px;
	line-height:30px;
	background:#f6f9fa;
}
#index-nav>ul>li>a:hover{
	color:#fff;
	background:#00a1d6;
}
#index-nav>ul>li:first-child a{
	border-top:1px solid #e5e9ef;
	border-radius:5px 5px 0 0;
}
#index-nav>ul>li.sort a{
	border:1px solid #e5e9ef;
	height:55px;
	border-radius:0 0 5px 5px;
}
#index-nav li.sort a>i{
	float:left;
	width:18px;
	height:18px;
	background:url(images/icons.png) no-repeat -663px -151px;
	margin:10px 13px 0 13px;
}
#index-nav li.sort:hover a>i{
	background-position:-727px -151px;
}
#index-nav>ul>li.linkage{
	display:block;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	width:30px;
	height:15px;
	margin:0 10px 0 10px; 
}
#index-nav li.return-top a{
	border:1px solid #e5e9ef;
	border-radius:5px;
}
#index-nav li.return-top a>i{
	display:inline-block;
	width:18px;
	height:12px;
	background:url(images/icons.png) no-repeat -663px -91px;
}
#index-nav li.return-top:hover a>i{
	background-position:-727px -91px;
}
/*小电视*/
#clickme{
	width:80px;
	height:80px;
	position:absolute;
	top:-80px;
	right:-17px;
	overflow:hidden;
/*	z-index:100;*/
}
#clickme>div{
	width:80px;
	height:80px;
	position:absolute; top:0; left:0;
	background:url(images/clickme.png);
/*	z-index:50;*/
}
/************广告**************/
.banner{
	width:980px;
	margin:20px auto -30px;
	position:relative;
}
.banner>img{
	width:100%;
	border-radius:5px;
}
.banner>b{
	position:absolute;
	left:0;
	bottom:0;
	width:32px; height:20px;
	background:url(images/web_banner_logo.png);
}
